<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="16" android:versionName="1.0.5" package="com.sphericbox.syb"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@android:style/Theme.Light" android:label="@string/title" android:icon="@drawable/icon">
        <provider android:name="SYBProvider" android:authorities="com.sphericbox.syb.SYBProvider" />
        <activity android:theme="@android:style/Theme.Light" android:label="@string/title_browser" android:name=".browse.BrowseActivity" android:launchMode="singleTop" android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:theme="@android:style/Theme.Light" android:label="@string/title_edit_comment" android:name=".browse.EditCommentActivity" android:screenOrientation="user" />
        <activity android:theme="@android:style/Theme.Light" android:label="@string/title_settings" android:name=".browse.SettingsActivity" android:screenOrientation="user" />
        <activity android:theme="@android:style/Theme.Light" android:label="@string/title_about" android:name=".browse.AboutActivity" android:screenOrientation="user" />
        <activity android:theme="@android:style/Theme.Black" android:label="@string/title_capture" android:name=".camera.CaptureActivity" android:screenOrientation="landscape" />
        <activity android:theme="@android:style/Theme.Black" android:label="@string/title" android:name=".processing.ProcessingActivity" android:screenOrientation="user" />
        <service android:name=".processing.ProcessingService">
            <intent-filter>
                <action android:name="com.sphericbox.syb.processing.IProcessingService" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>
