<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="2010012601" android:versionName="2.2.1" package="backport.android.bluetooth"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="false">
        <activity android:label="@string/app_name" android:name="com.example.bluetooth.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/bluetooth_chat_app_name" android:name="com.example.bluetooth.BluetoothChat" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/select_device" android:name="com.example.bluetooth.DeviceListActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="Bluetooth Permission Request" android:name=".RequestEnableActivity" android:configChanges="keyboardHidden|orientation" android:noHistory="true">
            <intent-filter>
                <action android:name="com.example.bluetooth.action.REQUEST_ENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="Bluetooth Permission Request" android:name=".RequestDiscoverableActivity" android:configChanges="keyboardHidden|orientation" android:noHistory="true">
            <intent-filter>
                <action android:name="com.example.bluetooth.action.REQUEST_DISCOVERABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".BluetoothIntentRedirector">
            <intent-filter>
                <action android:name="android.bluetooth.intent.action.DISCOVERY_COMPLETED" />
                <action android:name="android.bluetooth.intent.action.DISCOVERY_STARTED" />
                <action android:name="android.bluetooth.intent.action.NAME_CHANGED" />
                <action android:name="android.bluetooth.intent.action.SCAN_MODE_CHANGED" />
                <action android:name="android.bluetooth.intent.action.BLUETOOTH_STATE_CHANGED" />
                <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_CONNECTED" />
                <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_DISCONNECTED" />
                <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_DISCONNECT_REQUESTED" />
                <action android:name="android.bluetooth.intent.action.BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.intent.action.PAIRING_REQUEST" />
                <action android:name="android.bluetooth.intent.action.PAIRING_CANCEL" />
                <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_CLASS_UPDATED" />
                <action android:name="android.bluetooth.intent.action.REMOTE_DEVICE_FOUND" />
                <action android:name="android.bluetooth.intent.action.REMOTE_NAME_UPDATED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.example.bluetooth.BACKPORT_BLUETOOTH" />
</manifest>
