<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="2" android:versionName=".85" package="com.virtuallyabstract.eve"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="1" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <application android:label="EveDroid" android:icon="@drawable/icon">
        <activity android:label="EveDroid" android:name=".Eve">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Skill Details" android:name=".SkillInfo" />
        <activity android:label="Input API Information" android:name=".ApiInfo" />
        <activity android:label="Skill Browser" android:name=".SkillBrowser" />
        <activity android:label="Skill Planner" android:name=".SkillPlanner" />
        <activity android:label="Plan Details" android:name=".PlanInfo" />
    </application>
</manifest>
