<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="16" android:versionName="1.1.12" package="org.chemlab.dealdroidapp"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name=".Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="org.chemlab.dealdroidapp.ItemViewer" />
        <receiver android:label="SiteChecker" android:name="org.chemlab.dealdroidapp.SiteChecker" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="org.chemlab.dealdroidapp.DEALDROID_START" />
                <action android:name="org.chemlab.dealdroidapp.DEALDROID_STOP" />
                <action android:name="org.chemlab.dealdroidapp.DEALDROID_RESTART" />
                <action android:name="org.chemlab.dealdroidapp.DEALDROID_ENABLE" />
                <action android:name="org.chemlab.dealdroidapp.DEALDROID_DISABLE" />
                <action android:name="org.chemlab.dealdroidapp.DEALDROID_UPDATE" />
            </intent-filter>
        </receiver>
        <provider android:name="org.chemlab.dealdroidapp.SiteContentProvider" android:authorities="org.chemlab.dealdroidapp" />
    </application>
</manifest>
