<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="30" android:versionName="2.3.3" package="com.thinkyeah.smartlock"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <application android:theme="@style/Theme.NoBackground" android:label="@string/app_name" android:icon="@drawable/icon">
        <receiver android:name="com.thinkyeah.smartlock.SystemEventReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.thinkyeah.smartlock.service.MonitorService" />
        <activity android:name=".SmartLockActivity" android:taskAffinity="com.thinkyeah.smartlock.main" android:excludeFromRecents="true" android:launchMode="singleTask" />
        <activity android:name=".AddAppActivity" android:excludeFromRecents="true" />
        <activity android:name=".ChooseLockTypeActivity" android:excludeFromRecents="true" />
        <activity android:name=".ChooseLockPatternActivity" android:excludeFromRecents="true" />
        <activity android:name=".ConfirmLockPatternActivity" android:excludeFromRecents="true" />
        <activity android:name=".ChooseLockPasswordActivity" android:excludeFromRecents="true" />
        <activity android:name=".ConfirmLockPasswordActivity" android:excludeFromRecents="true" />
        <activity android:name=".ForgotPasswordActivity" android:excludeFromRecents="true" />
        <activity android:name=".ChooseLockScreenActivity" android:excludeFromRecents="true" />
        <activity android:name=".ChooseDelayTimeActivity" android:excludeFromRecents="true" />
        <activity android:name=".ChooseSelfProtectionActivity" android:excludeFromRecents="true" />
        <activity android:label="@string/app_name" android:name=".SelfLockingActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LaunchLockingActivity" android:taskAffinity="com.thinkyeah.smartlock.launchlocking" android:excludeFromRecents="true" />
        <activity android:name=".SettingHelpActivity" android:excludeFromRecents="true" />
        <activity android:name=".FeedbackActivity" android:excludeFromRecents="true" />
        <activity android:name=".AboutActivity" android:excludeFromRecents="true" />
        <receiver android:name=".widget.QuickToggleWidget" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quicktoggle_widget_info" />
        </receiver>
        <receiver android:name=".widget.WidgetToggleReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.thinkyeah.smartlock.intent.action.WIDGET_TOGGLE_LOCK" />
            </intent-filter>
        </receiver>
        <activity android:name=".widget.WidgetToggleLockingActivity" android:excludeFromRecents="true" />
        <service android:name="com.thinkyeah.smartlock.service.LicenseCheckService" />
        <activity android:theme="@android:style/Theme.Dialog" android:name=".NotLicensedPopupActivity" android:excludeFromRecents="true" />
    </application>
</manifest>
