<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="121" android:versionName="1.9.0.5" android:installLocation="auto" package="com.rookiestudio.perfectviewer"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name=".TPerfectViewer" android:debuggable="false">
        <activity android:name=".TStartup" android:launchMode="singleInstance" android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\.rar" />
                <data android:pathPattern=".*\\.7z" />
                <data android:pathPattern=".*\\.lzh" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.cb7" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.jpg" />
                <data android:pathPattern=".*\\.png" />
                <data android:pathPattern=".*\\.bmp" />
                <data android:pathPattern=".*\\.gif" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="application/x-cb7" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/lzh" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-pdf" />
                <data android:mimeType="application/x-7z-compressed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".TViewerMain" android:launchMode="singleInstance" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:label="@string/file_browser_name" android:name=".TFileBrowser" android:launchMode="singleInstance" />
        <activity android:label="@string/bookshelf" android:name=".TBookshelf" android:launchMode="singleInstance" />
        <activity android:label="@string/menu_favorites" android:name=".TFavoritesBrowser" />
        <activity android:label="@string/preferences_management" android:name=".TPreferencesManagement" />
        <activity android:label="@string/quickbar_customize" android:name=".TQuickBarCustomize" />
        <activity android:label="@string/bookshelf_setting" android:name=".TBookshelfFolderManagement" />
        <activity android:label="@string/hardware_key_management" android:name=".THardwareKeyManagement" />
        <activity android:label="@string/menu_preferences" android:name=".TPreferences" />
        <activity android:name="com.cooliris.media.CropImage" android:launchMode="standard" />
        <service android:name="TScanBookService" />
        <receiver android:name="com.rookiestudio.perfectviewer.TBootReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
