<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="300" android:versionName="3.0" android:installLocation="auto" package="com.ui.LapseItPro"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <application android:theme="@style/Theme.LapseIt.Title" android:label="@string/app_name" android:icon="@drawable/icon" android:description="@string/app_description" android:largeHeap="true">
        <activity android:theme="@style/Theme.LapseIt.NoTitle.FullScreen.NoBackground" android:label="@string/app_name" android:name="com.ui.LapseIt.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="lapseit" android:host="oauth" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/app_name" android:name="com.ui.LapseIt.StartView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_fullversion" android:name="com.ui.LapseIt.FullVersionView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/pro_header" android:name="com.ui.LapseIt.ProVersionView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_faq" android:name="com.ui.LapseIt.FaqView" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle.FullScreen" android:label="@string/view_capture" android:name="com.ui.LapseIt.capture.CaptureView" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_schedule" android:name="com.ui.LapseIt.capture.ScheduleView" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_list" android:name="com.ui.LapseIt.list.ListView" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_list" android:name="com.ui.LapseIt.list.ListHostView" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_list" android:name="com.ui.LapseIt.gallery.GalleryListView" android:launchMode="singleTop" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_project" android:name="com.ui.LapseIt.project.ProjectView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_info" android:name="com.ui.LapseIt.project.InfoView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_trim" android:name="com.ui.LapseIt.project.TrimView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_effect" android:name="com.ui.LapseIt.project.EffectsView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_render" android:name="com.ui.LapseIt.project.SoundTrackView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_render" android:name="com.ui.LapseIt.project.RenderView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_settings" android:name="com.ui.LapseIt.settings.SettingsView" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_settings" android:name="com.ui.LapseIt.settings.SettingsDetailsView" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_settings" android:name="com.ui.LapseIt.settings.OAuth.SettingsOAuthView" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_settings" android:name="com.ui.LapseIt.settings.OAuth.SettingsOAuthTwitterView" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_settings" android:name="com.ui.LapseIt.settings.OAuth.SettingsOAuthFacebookView" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_upload" android:name="com.ui.LapseIt.upload.UploadView" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_upload" android:name="com.ui.LapseIt.upload.UploadLoginView" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.LapseIt.NoTitle" android:label="@string/view_upload" android:name="com.ui.LapseIt.upload.UploadFormView" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.LapseIt.Title" android:label="@string/view_remote" android:name="com.ui.LapseIt.remote.RemoteView" android:screenOrientation="portrait" />
        <meta-data android:name="android.app.default_searchable" android:value="com.ui.LapseIt.list.ListView" />
        <provider android:name="com.ui.LapseIt.providers.pro.ProjectsContentProvider" android:authorities="com.ui.lapseit.providers.pro" />
        <service android:name="com.ui.LapseIt.upload.UploadService" />
        <service android:name="net.robotmedia.billing.BillingService" />
        <receiver android:name="net.robotmedia.billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ui.LapseIt.capture.ScheduleReceiver" />
    </application>
</manifest>
