<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.mxtech" android:versionCode="36" android:versionName="1.7" android:installLocation="auto" package="com.mxtech.videoplayer.ad"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name=".App" android:logo="@drawable/logo">
        <meta-data android:name="android.app.default_searchable" android:value="com.mxtech.videoplayer.ad.ActivityVideoList" />
        <meta-data android:name="ffmpeg_required_version" android:value="36" />
        <meta-data android:name="ffmpeg_required_version_name" android:value="1.7" />
        <meta-data android:name="market" android:value="android_market" />
        <provider android:name=".VSSP" android:authorities="com.mxtech.videoplayer.ad.vssp" android:syncable="false" />
        <receiver android:name="com.mxtech.videoplayer.ActivityScreen$AudioEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mxtech.videoplayer.service.PlayService$AudioEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/NoInitialTitle" android:label="@string/app_name" android:name=".ActivityVideoList" android:launchMode="singleTop" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/video_search_local" />
        </activity>
        <activity android:theme="@android:style/Theme.NoDisplay" android:label="@string/app_name" android:name="com.mxtech.videoplayer.ActivityVideoList$NoStackDelegate" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/video_search_global" />
        </activity>
        <activity android:theme="@android:style/Theme.NoDisplay" android:label="@string/app_name" android:name="com.mxtech.videoplayer.ActivityScreen$WebDelegate" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="video/*" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/avi" />
                <data android:mimeType="*/mkv" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/mp4" />
                <data android:mimeType="application/mpeg*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/vnd.rn-realmedia*" />
                <data android:mimeType="application/3gpp*" />
                <data android:mimeType="application/vnd.3gp*" />
                <data android:mimeType="application/vnd.dvd*" />
                <data android:mimeType="application/vnd.dolby*" />
                <data android:mimeType="application/x-mpegURL" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/x-quicktimeplayer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*" />
                <data android:pathPattern=".*\\.3gp" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.divx" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.m2v" />
                <data android:pathPattern=".*\\.m2ts" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.mts" />
                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\.ogm" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.rmvb" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.wtv" />
                <data android:pathPattern=".*3gp" />
                <data android:pathPattern=".*avi" />
                <data android:pathPattern=".*asf" />
                <data android:pathPattern=".*divx" />
                <data android:pathPattern=".*f4v" />
                <data android:pathPattern=".*flv" />
                <data android:pathPattern=".*m2v" />
                <data android:pathPattern=".*m2ts" />
                <data android:pathPattern=".*m3u" />
                <data android:pathPattern=".*m3u8" />
                <data android:pathPattern=".*mkv" />
                <data android:pathPattern=".*mp4" />
                <data android:pathPattern=".*mpeg" />
                <data android:pathPattern=".*mpg" />
                <data android:pathPattern=".*mov" />
                <data android:pathPattern=".*mts" />
                <data android:pathPattern=".*ogg" />
                <data android:pathPattern=".*rm" />
                <data android:pathPattern=".*rmvb" />
                <data android:pathPattern=".*ts" />
                <data android:pathPattern=".*vob" />
                <data android:pathPattern=".*webm" />
                <data android:pathPattern=".*wmv" />
                <data android:pathPattern=".*wtv" />
                <data android:pathPattern=".*\\.3GP" />
                <data android:pathPattern=".*\\.AVI" />
                <data android:pathPattern=".*\\.ASF" />
                <data android:pathPattern=".*\\.DIVX" />
                <data android:pathPattern=".*\\.F4V" />
                <data android:pathPattern=".*\\.FLV" />
                <data android:pathPattern=".*\\.M2V" />
                <data android:pathPattern=".*\\.M2TS" />
                <data android:pathPattern=".*\\.M3U" />
                <data android:pathPattern=".*\\.M3U8" />
                <data android:pathPattern=".*\\.MKV" />
                <data android:pathPattern=".*\\.MP4" />
                <data android:pathPattern=".*\\.MPEG" />
                <data android:pathPattern=".*\\.MPG" />
                <data android:pathPattern=".*\\.MOV" />
                <data android:pathPattern=".*\\.MTS" />
                <data android:pathPattern=".*\\.OGG" />
                <data android:pathPattern=".*\\.OGM" />
                <data android:pathPattern=".*\\.RM" />
                <data android:pathPattern=".*\\.RMVB" />
                <data android:pathPattern=".*\\.TS" />
                <data android:pathPattern=".*\\.VOB" />
                <data android:pathPattern=".*\\.WEBM" />
                <data android:pathPattern=".*\\.WMV" />
                <data android:pathPattern=".*\\.WTV" />
                <data android:pathPattern=".*3GP" />
                <data android:pathPattern=".*AVI" />
                <data android:pathPattern=".*ASF" />
                <data android:pathPattern=".*DIVX" />
                <data android:pathPattern=".*F4V" />
                <data android:pathPattern=".*FLV" />
                <data android:pathPattern=".*M2V" />
                <data android:pathPattern=".*M2TS" />
                <data android:pathPattern=".*M3U" />
                <data android:pathPattern=".*M3U8" />
                <data android:pathPattern=".*MKV" />
                <data android:pathPattern=".*MP4" />
                <data android:pathPattern=".*MPEG" />
                <data android:pathPattern=".*MPG" />
                <data android:pathPattern=".*MOV" />
                <data android:pathPattern=".*MTS" />
                <data android:pathPattern=".*OGG" />
                <data android:pathPattern=".*RM" />
                <data android:pathPattern=".*RMVB" />
                <data android:pathPattern=".*TS" />
                <data android:pathPattern=".*VOB" />
                <data android:pathPattern=".*WEBM" />
                <data android:pathPattern=".*WMV" />
                <data android:pathPattern=".*WTV" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="*" />
                <data android:pathPattern=".*\\.3gp" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.divx" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.m2v" />
                <data android:pathPattern=".*\\.m2ts" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.mts" />
                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\.ogm" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.rmvb" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.wtv" />
                <data android:pathPattern=".*3gp" />
                <data android:pathPattern=".*avi" />
                <data android:pathPattern=".*asf" />
                <data android:pathPattern=".*divx" />
                <data android:pathPattern=".*f4v" />
                <data android:pathPattern=".*flv" />
                <data android:pathPattern=".*m2v" />
                <data android:pathPattern=".*m2ts" />
                <data android:pathPattern=".*m3u" />
                <data android:pathPattern=".*m3u8" />
                <data android:pathPattern=".*mkv" />
                <data android:pathPattern=".*mp4" />
                <data android:pathPattern=".*mpeg" />
                <data android:pathPattern=".*mpg" />
                <data android:pathPattern=".*mov" />
                <data android:pathPattern=".*mts" />
                <data android:pathPattern=".*ogg" />
                <data android:pathPattern=".*rm" />
                <data android:pathPattern=".*rmvb" />
                <data android:pathPattern=".*ts" />
                <data android:pathPattern=".*vob" />
                <data android:pathPattern=".*webm" />
                <data android:pathPattern=".*wmv" />
                <data android:pathPattern=".*wtv" />
                <data android:pathPattern=".*\\.3GP" />
                <data android:pathPattern=".*\\.AVI" />
                <data android:pathPattern=".*\\.ASF" />
                <data android:pathPattern=".*\\.DIVX" />
                <data android:pathPattern=".*\\.F4V" />
                <data android:pathPattern=".*\\.FLV" />
                <data android:pathPattern=".*\\.M2V" />
                <data android:pathPattern=".*\\.M2TS" />
                <data android:pathPattern=".*\\.M3U" />
                <data android:pathPattern=".*\\.M3U8" />
                <data android:pathPattern=".*\\.MKV" />
                <data android:pathPattern=".*\\.MP4" />
                <data android:pathPattern=".*\\.MPEG" />
                <data android:pathPattern=".*\\.MPG" />
                <data android:pathPattern=".*\\.MOV" />
                <data android:pathPattern=".*\\.MTS" />
                <data android:pathPattern=".*\\.OGG" />
                <data android:pathPattern=".*\\.OGM" />
                <data android:pathPattern=".*\\.RM" />
                <data android:pathPattern=".*\\.RMVB" />
                <data android:pathPattern=".*\\.TS" />
                <data android:pathPattern=".*\\.VOB" />
                <data android:pathPattern=".*\\.WEBM" />
                <data android:pathPattern=".*\\.WMV" />
                <data android:pathPattern=".*\\.WTV" />
                <data android:pathPattern=".*3GP" />
                <data android:pathPattern=".*AVI" />
                <data android:pathPattern=".*ASF" />
                <data android:pathPattern=".*DIVX" />
                <data android:pathPattern=".*F4V" />
                <data android:pathPattern=".*FLV" />
                <data android:pathPattern=".*M2V" />
                <data android:pathPattern=".*M2TS" />
                <data android:pathPattern=".*M3U" />
                <data android:pathPattern=".*M3U8" />
                <data android:pathPattern=".*MKV" />
                <data android:pathPattern=".*MP4" />
                <data android:pathPattern=".*MPEG" />
                <data android:pathPattern=".*MPG" />
                <data android:pathPattern=".*MOV" />
                <data android:pathPattern=".*MTS" />
                <data android:pathPattern=".*OGG" />
                <data android:pathPattern=".*RM" />
                <data android:pathPattern=".*RMVB" />
                <data android:pathPattern=".*TS" />
                <data android:pathPattern=".*VOB" />
                <data android:pathPattern=".*WEBM" />
                <data android:pathPattern=".*WMV" />
                <data android:pathPattern=".*WTV" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Playback" android:label="@string/app_name" android:name=".ActivityScreen" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="udp" />
                <data android:scheme="rtp" />
                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="mmst" />
                <data android:scheme="mmsh" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="gopher" />
                <data android:mimeType="video/*" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/avi" />
                <data android:mimeType="*/mkv" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/mp4" />
                <data android:mimeType="application/mpeg*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/vnd.rn-realmedia*" />
                <data android:mimeType="application/3gpp*" />
                <data android:mimeType="application/vnd.3gp*" />
                <data android:mimeType="application/vnd.dvd*" />
                <data android:mimeType="application/vnd.dolby*" />
                <data android:mimeType="application/x-mpegURL" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/x-quicktimeplayer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="gopher" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.3gp" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.divx" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.m2v" />
                <data android:pathPattern=".*\\.m2ts" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.mts" />
                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\.ogm" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.rmvb" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.wtv" />
                <data android:pathPattern=".*3gp" />
                <data android:pathPattern=".*avi" />
                <data android:pathPattern=".*asf" />
                <data android:pathPattern=".*divx" />
                <data android:pathPattern=".*f4v" />
                <data android:pathPattern=".*flv" />
                <data android:pathPattern=".*m2v" />
                <data android:pathPattern=".*m2ts" />
                <data android:pathPattern=".*m3u" />
                <data android:pathPattern=".*m3u8" />
                <data android:pathPattern=".*mkv" />
                <data android:pathPattern=".*mp4" />
                <data android:pathPattern=".*mpeg" />
                <data android:pathPattern=".*mpg" />
                <data android:pathPattern=".*mov" />
                <data android:pathPattern=".*mts" />
                <data android:pathPattern=".*ogg" />
                <data android:pathPattern=".*rm" />
                <data android:pathPattern=".*rmvb" />
                <data android:pathPattern=".*ts" />
                <data android:pathPattern=".*vob" />
                <data android:pathPattern=".*webm" />
                <data android:pathPattern=".*wmv" />
                <data android:pathPattern=".*wtv" />
                <data android:pathPattern=".*\\.3GP" />
                <data android:pathPattern=".*\\.AVI" />
                <data android:pathPattern=".*\\.ASF" />
                <data android:pathPattern=".*\\.DIVX" />
                <data android:pathPattern=".*\\.F4V" />
                <data android:pathPattern=".*\\.FLV" />
                <data android:pathPattern=".*\\.M2V" />
                <data android:pathPattern=".*\\.M2TS" />
                <data android:pathPattern=".*\\.M3U" />
                <data android:pathPattern=".*\\.M3U8" />
                <data android:pathPattern=".*\\.MKV" />
                <data android:pathPattern=".*\\.MP4" />
                <data android:pathPattern=".*\\.MPEG" />
                <data android:pathPattern=".*\\.MPG" />
                <data android:pathPattern=".*\\.MOV" />
                <data android:pathPattern=".*\\.MTS" />
                <data android:pathPattern=".*\\.OGG" />
                <data android:pathPattern=".*\\.OGM" />
                <data android:pathPattern=".*\\.RM" />
                <data android:pathPattern=".*\\.RMVB" />
                <data android:pathPattern=".*\\.TS" />
                <data android:pathPattern=".*\\.VOB" />
                <data android:pathPattern=".*\\.WEBM" />
                <data android:pathPattern=".*\\.WMV" />
                <data android:pathPattern=".*\\.WTV" />
                <data android:pathPattern=".*3GP" />
                <data android:pathPattern=".*AVI" />
                <data android:pathPattern=".*ASF" />
                <data android:pathPattern=".*DIVX" />
                <data android:pathPattern=".*F4V" />
                <data android:pathPattern=".*FLV" />
                <data android:pathPattern=".*M2V" />
                <data android:pathPattern=".*M2TS" />
                <data android:pathPattern=".*M3U" />
                <data android:pathPattern=".*M3U8" />
                <data android:pathPattern=".*MKV" />
                <data android:pathPattern=".*MP4" />
                <data android:pathPattern=".*MPEG" />
                <data android:pathPattern=".*MPG" />
                <data android:pathPattern=".*MOV" />
                <data android:pathPattern=".*MTS" />
                <data android:pathPattern=".*OGG" />
                <data android:pathPattern=".*RM" />
                <data android:pathPattern=".*RMVB" />
                <data android:pathPattern=".*TS" />
                <data android:pathPattern=".*VOB" />
                <data android:pathPattern=".*WEBM" />
                <data android:pathPattern=".*WMV" />
                <data android:pathPattern=".*WTV" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoInitialTitle_14" android:label="@string/settings" android:name="com.mxtech.videoplayer.ActivityPreferences" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoInitialTitle_14" android:label="@string/cfg_scan_root" android:name="com.mxtech.videoplayer.ActivityScanRootSelector" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoInitialTitle_14" android:label="@string/cfg_video_file" android:name="com.mxtech.videoplayer.ActivityVideoFile" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoInitialTitle" android:label="@string/cfg_info" android:name="com.mxtech.videoplayer.ActivityAbout" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoInitialTitle" android:name="com.mxtech.videoplayer.ActivityMessenger" android:finishOnTaskLaunch="true" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:excludeFromRecents="true" android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="com.nbpcorp.mobilead.sdk.MobileAdBrowserActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <service android:name="com.mxtech.media.service.FFService" android:process=":remote" />
        <service android:name="com.mxtech.videoplayer.service.PlayService" />
    </application>
</manifest>
