body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444;
	margin: 0;
}
#container {
	margin: 10px;
}
h2 {
	color: #0095da;
}
p {
	background: #f9f9f9;
	padding: 5px;
	border: 1px solid #f2f2f2;
}
strong {
	color: #333;
	font-size: 13px;
}
