<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="com.jiaoni.sharedapp" android:process="com.jiaoni.sharedprocess" android:versionCode="2" android:versionName="1.0.1" package="com.jiaonisoft.horoscope"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
        <meta-data android:name="ADMOB_PUBLISHER_ID" android:value="a14c83b89bc4b3f" />
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
</manifest>
