<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="261" android:versionName="2.3.9.1" package="com.peteguhl.holsterbuddy"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Holster Buddy" android:icon="@drawable/avrlaunchericon48" android:persistent="true" android:allowBackup="true">
        <activity android:label="@string/app_name" android:name="HolsterBuddy" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="HolsterBuddyService">
            <service android:name="HolsterBuddyService" android:process=":remote" class=".HolsterBuddyService" />
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <receiver android:name=".HolsterBuddyReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
