<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="6" android:versionName="1.1" package="ng.vace.android.highwayracing"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
    <supports-screens android:anyDensity="true" android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name="Start" android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".HighwayPatrol" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:label="SelectCar" android:name=".SelectCar" android:configChanges="keyboard|keyboardHidden|orientation" />
        <meta-data android:name="ADMOB_PUBLISHER_ID" android:value="a14b322b4b6206e" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
